.logoleft {
		background-image: url(../img/main_logobg.svg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 120px;
		height: 120px;
		position: relative;
}

.turnwhite {
	background: #FFF;
}