.footer-wrapper {
	width: 100%;
	background: #ddd;
	color: $primary-color;
	padding-top: em-calc(20);
}

.footer-wrapper a {
	text-decoration: none;
	color: $primary-color;
}

footer p {
	font-size: em-calc(14);
}

footer {
	position: relative;
}

@media #{$medium-up} {
	br.break-for-small {
		display: none;
	}
}

.clear-footer {
	clear: both;
	height: rem-calc(20);
}